
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .main-content {
    width: 94%;
    margin-top: 120px;
    margin-left: 3%;
    margin-right: 3%;  
  }
 
  
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.light-mode {
  background-color: #FBFDFC;
  color: #000;
}

.light-mode .theme-toggle {
  background-color: #000;
  color: #fff;
}


.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .theme-toggle {
  background-color: #fff;
  color: #000;
}
 
 

.sidebar-open .sidebar {
  transform: translateX(0);
}

.sidebar-open .content {
  margin-left: 250px; /* Adjust this value based on your sidebar width */
 }
.sidebar-closed .content {
  margin-left: 0;
  width: 100vh;
} 
.sidebar.closed {
  width: 0;
  padding: 0;
  
}

.content {
  flex-grow: 1; 
  padding: 20px;
  transition: margin-left 0.3s ease;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
.sidebar {
  width: 250px; /* Adjust this value based on your sidebar width */
  transition: width 0.3s ease;
  
}


.task-details {
  width: 20%;
  padding: 20px;
  background-color: #fff;
  border-left: 1px solid #ddd;
}

.task-details button {
  margin-bottom: 20px;
}

.details-open .task-list {
  transform: translateX(-1%);
 }
 
 /* styles.css */
body.dark-mode {
  background-color: #242424;
  color: #ffffff;
}

/* Ensure all elements inside body adjust to dark mode */
 
.dark-mode .task-header,
.dark-mode .task-card, 
.dark-mode .task-footer {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .filter-btn,
.dark-mode .todo_darkMode,
.dark-mode .searchtodo_dark,
.dark-mode .searchtodo_dark { 
  color: #000000;
}
